@media (min-width: 1440px) 
{
   

body {
    background:#f4f4f7;
}
.b-page--wrapper{
    margin: 0 auto;
min-width: 1180px !important;
width: 81%;

}

.b-level--section, .b-services--section {
    background:#ffffff;
    
}
header {
    margin-bottom: 100px;
   
}

.b-header {
    background: url("../images/header-bg/img-header@2x.png");
    background-repeat: no-repeat;
    background-size: cover;
    
}
.b-container--header, .b-wrapper--more, .b-container--level, .b-container--services, .b-container-proects {
    padding:0 200px;
}
.b-card--level {
    padding-left: 200px;
}

.b-wrapper--more {
    width: 33.8%;
    padding-right: 0;
    padding-top: 22.5px;
    padding-bottom: 22.5px;
}

.b-navbar {
    margin-left: -69px;
    
}
.b-navbar--header {
    width: 4%7;
}
.b-navbar--header__eng {
    margin-left: 100px;
}
.b-map {
    width: 1180px;
    margin: auto 0;
}


.b-block--servises {
    grid-column-gap: 120px;
    grid-template-columns: 380px 380px;
    padding:0;
}
.b-list--services {
    padding:0;
}
.b-container__birdieeyes {
left: 17%;
top:-402px;
}
.b-cards-gtoup {
   grid-column-gap: 20px;
   border:none
}
.b-container__upsport {
    border: none;
}
.b-subtitle--proects, .b-lead-padding  {
    padding-left: 0;

}
.b-cards-gtoup  {
    padding-top:20px
}
.b-cards-gtoup--two, .b-cards-gtoup {
    padding-bottom: 60px;

}
.b-subtitle--padding, .b-lead--newpadding {
    padding-left: 40px;
}

.b-cont {
    padding-left: 200px;
}
.b-contacts {
    margin-left: 100px;
}
.b-map {
    background-position: 247px 26px;
}
.b-text--padding {
    padding-left: 50px
}
.b-footer--copy {
    padding-left: 0;
    padding-right: 150px;
}
.b-flex {
    max-width: 800px;
    width: 580px;
}
.b-right {
    padding-left:200px !important;
}

}