
@import url("style.css");

@media screen and (min-width: 980px) { 
/*________________________________________Блок header________________________________________ */


.b-header {
    
    background: url("../images/header-bg/img-header-n.png")  ;
    position: relative;
  
    
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
  

}
.b-navbar, .b-container--header, .b-title--header, .b-lead--header, .b-wrapper--more {
    position: relative;
    z-index:2;
}
.b-header::after {
    content:"";
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    z-index: 1;
}
.b-header::after {
    content: '';
    position: absolute;
    background-color: #00000066;
}
.b-navbar {
    padding:0 ;
    padding-left:100px;
    margin-bottom: 52px;
}
.b-burger--icon {
    visibility: hidden;
}
.b-container {
    padding: 0;
    padding-left:100px;
    padding-right:100px;
    margin: 0 auto;
}
.b-navbar {
    display: flex;
    justify-content: space-between;
    align-items:center;
}
.flex,  .flex-eng {
    display: flex;
    justify-content: space-between;
margin-top: -20px;    
     
}
.b-navbar--header  {
    width: 58%;
    display: block;
}
.b-navbar--header__eng{
    width: 15%;
    padding-right: 50px;
    margin-left: 40px;
    display: block;
}

.b-title {
   
   line-height: 1.08;
     letter-spacing: -0.75px;
    font-size: 60px;
    margin-bottom:31px;

}

.b-lead--header {
   
    line-height: 1.5;
   font-size: 20px;
   padding-right: 100px;
   margin-bottom: 80px;
  
}
.b-link {
    
    line-height: 1.5;
    font-size: 20px;

}
.b-arrow--image {
    width: 20px;
}
.b-arrow--image {
    width: 30px;
}
.b-wrapper {
    width: 38.8%;
    padding: 25px 0;
    padding-left:100px;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.b-icon-arrow--header {
    padding-right: 50px;
}
.b-navbar__link {
    color:#f4f4f7;
    font-family: Roboto;
}
.b-navbar__color {
    border: 1px solid rgba(244, 244, 247, 0.4);;
    border-radius: 50%;
    padding: 10px;
}




/*________________________________________Блок level________________________________________ */


.b-title--level {
    margin-top: 0;
    color: #2D2D42;
    padding-top:90px;
}

.b-lead--level {
    color: #2d2d42;
    margin-bottom: 30px;
    font-size: 30px;
    line-height: -1.33;
}

.b-text--level {
    color: #2d2d42;
    font-family: Roboto-900;
    font-size: 20px;

}
.b-card--level {
    display: flex;
    padding-left:100px;
}

.b-card {
   flex-direction: column;
   align-items:inherit;
}





.b-icon--level {

    padding:21px 20px 17px 20px;
    width: 50px;
    height: 50px;
}

.b-icon--management {
    padding: 17px 18px 23px 23px;
    
}

.b-wrapper--proect {
   margin-bottom: 30px;
   width: 90px;
   height: 90px;
   margin-right: 150px;
}

.b-wrapper--management {
    margin-bottom: 30px;
    width: 90px;
    height: 90px;
    margin-right: 150px;
}

.b-wrapper--digital {
    margin-bottom: 30px;
    width: 90px;
    height: 90px;
    margin-right: 150px;
}



.b-polosa {
   display: none;
    
   
   
}
.b-container--lvl {
   
   
    padding: 0;
    width: 25%;
    margin: 0;
    margin-right: 10%;
}
/*________________________________________Блок Services________________________________________ */
.b-services--section {
    padding-top: 40px;
    padding-bottom: 117px;
     
 }
 .b-title--services {
     margin-bottom: 0;
    padding-bottom: 75px;
    color: #c0c6c8
}
.b-list--services {
    margin: 0;
}
.b-item--services {
   
    font-size: 20px;
    line-height: 1.5;
    padding-bottom: 30px;
   
}

.b-list--services {
    margin=right: 40px;
}
.b-block--servises {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.b-wrapper--services {
    display: none;
}
/*________________________________________Блок Proects________________________________________ */

.b-title--proects {
    color: #2d2d42;
    font-family: Roboto-900;
    line-height: 1.5;
   padding-top: 100px;
   padding-bottom: 25px;
   margin-bottom: 0;
}


.b-card__birdieeyes {
    position: relative;
}

.b-container__birdieeyes {
    padding: 0;
    margin: 0;
    background: #64cae1;
    position: relative;
    width: 380px;
    height: 380px;
    top: -430px;
    left: 11%;
}
.b-subtitle--proects {
    font-family: Roboto-900;
    font-size: 13px;
    line-height: 1.54;
    letter-spacing: 1.73px;
    color:#f4f4f7;
    padding:40px;
    margin:0;
    
    
}

h3 {
    margin:0;
}
.b-lead--proects {
    color: #2d2d42;
    font-family: Roboto;
    line-height: 1.33;
    margin-bottom: 0;
    font-size:30px;
    padding-bottom: 90px;
}
.b-lead--color {
    color:#f4f4f7;
    padding:0 40px 40px 40px;
}
.b-container__upsport {
    padding:0;
   border-right: 1px solid #c0c6c8;
   margin-top: -6px;


}
.b-cards-gtoup {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: -385px;
}
.b-card--proects {
    margin-bottom: 0;
}
.b-proects--section {
    background:#f4f4f7;
}
.b-wrapper--proects {
    display: none;
}
.b-subtitle--color {
    color: #2d2d42;
}
.b-lead-padding {
    padding:0 40px 40px 50px;
}
.b-container__xland {
    padding:0
}
.b-cards-gtoup--two {
    margin-top:0
}
.b-container__team {
padding: 0;
    margin: 0;
    background: #f4f4f7;
    position: relative;
    width: 380px;
    height: 380px;
    top: -405px;
    left: 50%;
}
.b-map {
    background-repeat: no-repeat;
    overflow-y: hidden;
    background-position: 149px 80px;
    background-size: contain;
    height: 455px;
    margin-top: -90px;
}
.b-footer--mde {
  display: none;
}

.b-flex--copy {
    background-color: #000000;
    padding:0;
}
.b-footer {
    margin-top: -385px;
}
.faff {
    display: flex;
     height: 80px;
    margin: 0;
    
}
.b-fff{
    margin: 0;
}
.b-fff {
    margin: 0;
}
.b-cont {
    display: flex;
    flex-wrap: wrap;
    max-height: 60px;
    padding-top: 100px;
}
.b-tetle--footer {
    font-size: 60px ;
}
.b-flex--in {
    flex: 1 1 auto;
    margin-top: 20px;
    margin-left: 260px;
    justify-content: flex-end;}

    .b-contacts {
        padding-left: 100px !important;
    padding-right: 100px !important;
    margin-top: 43px;
    columns: 2;
}


    
        .b-none {
            display: flex;
            justify-content: space-between;
            width: 50%;
            list-style: none;
            padding-bottom: 10px;}
            .b-color--black {
                padding-bottom: 0px;
                margin-bottom: 30px;
}

            
            .b-heading--white {
                margin-bottom: 30px;
            }
            .b-heading {
                font-family: "Roboto";
                font-size: 60px;
                line-height: 65px;
                letter-spacing: -0.75px;
            }
            .b-cont p {
                order: 2;
                width: 50%;
            }
            .b-text--footer {
                position: relative;
                top: 20px;
                z-index: 1;
            }
            .b-text {
                font-size: 20px;
                line-height: 30px;
                padding-left: 0px;
            }
            .b-color {
                display: none;
            }
            .b-flex {
                border: 1px solid rgba(255,255,255,0.1);
                width: 480px;
                height: 80px;
                background-color: #64cae1;
            }
            .b-logoo {
                display: none;
            }
            .b-flex--copy {
                display: flex;
                height: 80px;
            }
            .b-footer--copy {
                padding-left: 118px;
                padding-top:15px;
                height: 30px;
            }
            .b-block--servises {
                grid-column-gap: 80px;
                grid-template-columns: 320px 320px;
                padding:0;
            }
            .b-list--services {
                padding:0;

}
}

