@import url("../fonts/fonts.css");


body,
html {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;

}

h1,
h2,
p,
ul {
    margin: 0;
}

li {
    list-style: none;
    text-decoration: none;
}

a {
    text-decoration: none;


}

.a:hover {
    cursor: pointer;

}


/*________________________________________Блок header________________________________________ */
.b-header {
    background: #2D2D42;
    width: 100%;


}

.b-navbar {
    padding: 0 30px;
}

.b-container {
    padding: 0 30px;
    margin: 0 auto;
}

.b-logo-section {
    padding-top: 30px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
}

.b-title {
    margin-bottom: 20px;
    font-family: Roboto-900;
    line-height: 1.2;
    letter-spacing: -0.31px;
    font-size: 25px;

}

.b-title--header {
    color: #f4f4f7;
}

.b-lead {
    font-family: Roboto;
}

.b-lead--header {
    margin-bottom: 100px;
    line-height: 1.33;
    font-size: 15px;

    color: #f4f4f7
}



.b-wrapper,
.b-container--arrow {
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    margin-left: 0px;


}

.b-link {
    font-family: Roboto;
    line-height: 1.33;
    font-size: 15px;

}

.b-link--header {
    color: #ccc
}

.b-arrow--image {
    width: 20px;
}

.b-wrapper--more {

    padding: 0 30px 30px 30px;
    width: auto;
}

.b-navbar--header,
.b-navbar--header__eng {
    display: none;
}

.navbar__link {
    color: #f4f4f7;
    font-size: 15px;
    line-height: 1.33;
    font-family: Roboto;
}
/*________________________________________Блок level________________________________________ */
.b-title--level {
    margin-top: 30px;
    color: #2D2D42;
}

.b-lead--level {
    color: #2d2d42;
    margin-bottom: 30px;
}

.b-text--level {
    color: #2d2d42;
    font-family: Roboto-900;

}

.b-card {
    position: relative;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 30px 0 30px 0
}





.b-icon--level {

    padding: 11.1px 9.4px;
}

.b-icon--management {
    padding: 5.1px 18px;
}

.b-wrapper--proect {
    background: #63c9e0;
    border-radius: 50%;
    margin-right: 30px;
    width: 50px;
    height: 50px;
}

.b-wrapper--management {
    background: #f47e3d;
    margin-right: 20px;
    border-radius: 50%;
}

.b-wrapper--digital {
    background: #d04b9b;
    margin-right: 20px;
    border-radius: 50%;

    ;
}



.b-polosa {
    border-top: 1px solid #c0c6c8;
    width: 100%;


}
/*________________________________________Блок Services________________________________________ */
.b-item--services {
    position: relative;
    font-family: Roboto;
    font-size: 15px;
    line-height: 1.33;
    color: #2d2d42;
    padding-bottom: 20px;

}

.b-item--services::before {
    content: "";
    width: 20px;
    height: 1px;
    background: #64cae1;
    display: block;
    position: absolute;
    left: -39px;
    top: 11px;
}

.b-title--services {
    font-size: 25px;
    font-family: Roboto-900;
    line-height: 1.2;
    letter-spacing: -0.31;
    margin-bottom: 20px;
    color: #c0c6c8
}



.b-wrapper--services {
    background: #64cae1;
}

.b-link--services {
    font-size: 15px;
    line-height: 1.33;
    font-family: Roboto;
}

.b-link--services,
.b-icon-arrow--services {
    padding-top: 20px;
    color: #f4f4f7
}

.b-services--section {
    padding-top: 30px;

}

/*________________________________________Блок Proects________________________________________ */

.b-title--proects {
    color: #2d2d42;
    font-family: Roboto-900;
    line-height: 1.2;
    letter-spacing: -0.31px;
    padding-top: 30px
}

.b-lead--proects {
    color: #2d2d42;
    font-family: Roboto;
    line-height: 1.33;
    margin-bottom: 30px;
}

.b-lead--proects {
    margin-bottom: 0;
    padding-bottom: 30px;
}

.b-subtitle--proects {
    font-family: Roboto-900;
    font-size: 10px;
    line-height: 1;
    letter-spacing: 1.33px;
    text-transform: uppercase;

}

.b-card--proects {
    margin-bottom: 25px;
}

.b-wrapper--proects {
    background: #64cae1;
}

.b-link--proects {
    font-size: 15px;
    line-height: 1.33;
    font-family: Roboto;
}

.b-link--proects,
.b-icon-arrow--proects {
    padding-top: 20px;
    color: #f4f4f7
}


.b-card--image {
    width: 100%;
}

.b-color--wrapper {
    background: #f4f4f7
}

.b-cards-gtoup--two {
    display: none;
}
/*________________________________________Блок Footer________________________________________ */
.b-title--contacts {
    color: #f4f4f7;
    font-family: Roboto-900;
    line-height: 1.2;
    letter-spacing: -0.31px;
}

.b-lead--contacts {
    color: #f4f4f7;
    font-family: Roboto;
    line-height: 1.33;
    margin-bottom: 20px;
}

.b-contacts-section {
    background: #000000;
    padding-top: 30px;
}

.b-block-icon--contacts {
    display: flex;
    margin-bottom: 30px;
}

.b-icon-contacts {
    margin-right: 25px;
}

.b-circle--contacts {
    border-radius: 50%;
}

.b-circle--contacts__blue {
    background: #64cae1;
    position: absolute;
    left: 98px;
    top: 58px;

    height: 38px;
    width: 38px;

}

.b-circle--contacts__pink {
    background: #9e8293;
    position: absolute;
    left: 161px;
    top: 77px;

    height: 30px;
    width: 30px;
}

.b-map--contacts {
    position: relative;
}

.b-map--contacts__bg {
    max-width: 100%;
}

.b-map--contacts__bg {
    width: 100%;
}

.b-subtitle--contacts {
    color: #f4f4f7;
    font-family: Roboto-900;
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 4px;
}

.b-list--contacts {
    margin-bottom: 24px;
    padding: 0;
}

.b-item--contacts {
    color: #f4f4f7;
    font-family: Roboto;
    font-size: 15px;
    line-height: 1.33;
    padding-bottom: 10px;


}

.b-link--contacts {
    color: #64cae1;
}

.b-container--country {
    position: relative;
    top: -115px;
}




.b-none {
    display: none;
}


.b-text {
    font-family: "Roboto";
    font-size: 15px;
    font-weight: 300;
    color: #f4f4f7;
    line-height: 20px;
    text-decoration: none;
    list-style: none;
    letter-spacing: 0;
}

.b-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 480px;
}

.b-flex--copy {
    background: #2d2d42;
    padding-top: 18px
}


.b-hr {
    width: 100%;
    opacity: 0.2;
    color: #c0c6c8;
    height: 1px;
    margin-top: 29px;
    padding-bottom: 30px;
}



.b-color {
    background-color: #64cae1;
    padding: 20px 30px;
    color: #f4f4f7;
}


.b-color--black {
    background-color: #000000;
    padding-top: 30px;
    padding-bottom: 28px;
}

.b-footer {
    background-color: #000;
}

.b-footer__image {
    width: 30px;
    height: 30px;
    padding-right: 25px;

}

.b-text--footer {
    padding-bottom: 25px;
}

.b-footer__back {
    opacity: 0.8;
}

.b-test {
    background-color: #000000;
}

.b-footer--container {
    position: relative;
    bottom: 88px;
}

.b-heading--footer {
    font-family: "Roboto-900";
    font-size: 25px;
    line-height: 1.2;
    letter-spacing: -0.31px;
    color: #f4f4f7;
    padding-bottom: 20px;
}

.b-footer--text {
    font-family: "Roboto";
    font-size: 15px;
    line-height: 1.67;
    color: #f4f4f7;
    font-weight: 300;
    margin-bottom: 30px;
}

address {
    font-family: "Roboto";
    color: white;
    font-style: normal;
    margin: 0 0 30px;
}


.b-link-contacts {
    color: #64cae1;
    font-family: "Roboto";
}


.b-footer--links {
    font-size: 15px;
    line-height: 40px;
    text-decoration: none;
    color: #f4f4f7;
    font-family: "Roboto";
    font-weight: 300;
}

.b-footer--mde {
    padding-top: 20px;
    margin-bottom: 0px;
    background: #2d2d42
}

.b-footer--copy {
    opacity: 50%;
    padding-bottom: 30px;
}

.b-main--none {
    display: none;
}


.b-image__map--map {
    object-fit: cover;
}

.b-map {
    position: absolute;
    background: url("../images/fa-contacts//img-map.svg");
    height: 330px;
    background-position: 61% 50%;
    background-size: cover;
    width: 100%;
}

.b-contacts {
    margin-top: -85px;
}

.b-contacts {
    color: #f4f4f7;
    padding: 270px 30px 10px !important;
}

.b-country--footer {
    font-size: 20px;
    font-family: Roboto-900;
    line-height: 1.5;
    color: #f4f4f7;
    font-style: initial;
}


.b-text--contact {
    font-size: 15px;
    color: #f4f4f7;
}

.b-mail--contacts {

    font-family: Roboto;
}

.b-adress {
    font-family: "Roboto";
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0;
    color: #f4f4f7;
}

.b-text-light-pale-grey-bold--indent {
    padding: 0 40px 0 0;
}

.b-text-light-pale-grey-bold {
    font-family: "Roboto";
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0;
    color: #f4f4f7;
    font-weight: 300;
    margin-bottom: 30px;
}

.b-text-light-pale-grey-bold h3 {
    font-family: "Roboto";
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0;
    color: #f4f4f7;
    font-weight: bold;
    margin: 0 0 20px;
}
.b-link-none-decoration {
    font-family: "Roboto";
    text-decoration: none;
    color: #f4f4f7;
}
